# Ignore Python bytecode files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environments
venv/
.env

# Ignore data files (except when explicitly included)
data/raw/
data/processed/
data/external/

# Ignore model checkpoints & logs
models/
logs/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore system files
.DS_Store
Thumbs.db
